<html>

<head>
  <title>Home</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    
</head>

<body>
<div id="particles-js"></div>
 



        
<h1>COGO DE NNECT MPARE </h1>
<p>CODE Gaming Organisation(COGO) is about you and the games you love. Wether you are new or long into gaming, enjoy competing or are more on the casual side of things, we want to welcome you to join our community.</p>

</body>

</html>
