<html>

<head>
  <title>Home</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

</head>

<body>

  <div id="particles-js"></div>

  <div id="banner">
    <h1 id="banner-name">C<span id="banner-logo">O</span>GO DE NNECT MPARE </h1>
  </div>

  <div id="description">
    <p id="description-text">CODE Gaming Organisation (COGO) is about you and the games you love. Whether you are new or long into gaming, enjoy competing or are more on the casual side of things, we want to welcome you to join our community.<br><br> Stay in the loop?</p>
    <div id="newsletter">
      <input id="newsletter-input" type="email" name="email" value="">
      <button id="newsletter-submit" type="submit" name="submit"></button>
    </div>
  </div>

</body>

</html>
