// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'farray';
    src: font-url('Farray-Regular.woff') format("woff");
}
@font-face {
    font-family: 'nordic';
    font-weight: bold;
    src: font-url('NordicAlternativeRegular.ttf') format("truetype");
}
@font-face {
    font-family: 'barlow';
    src: font-url('BarlowSemiCondensed-Regular.woff') format("woff");
}

#particles-js canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.image-container{
  background-image: image-url("florian-olivo-1167169-unsplash@3x.png");
  background-size: cover !important;
  height: 100vh;
  width: 100vw;
}
#vidya-logo{
  position: absolute;
  top: 5%;
  left: 2%;
  width: 13%;
  height: 14%;
  object-fit: contain;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40px;
  padding-right: 85px;
  width: 100vw;
  height: 10%;
  padding-bottom: 2%;
}

.first-section{
  height: 100vh;
  width: 100vw;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.second-section{
  position: relative;
  background-color: #41436a;
  color: #eeeeee;
  padding-top: 7%;
  padding-bottom: 8%;
}

.third-section{
  background-image: image-url("lorenzo-herrera-1383917-unsplash@2x.jpg");
  background-size: cover !important;
  height: 80vh;
  width: 100vw;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-section{
  position: relative;
  background-color: #41436a;
  color: #eeeeee;
  padding-top: 7%;
  padding-bottom: 8%;
  border-width: 5px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      #f54768, 
      rgba(255, 150, 120, 100)
    ) 0 0 100%;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41436a;
  color: #eeeeee;
  padding-top: 2%;
  padding-bottom: 2%;
  h1{
    font-family: barlow;
    
  }
}

#home-logo{
  width: 100%;
  height: 100%;
  position: absolute;

}
#footer-logo{
  width: 8%;
  height: 9%;
}

#banner{
  padding-left: 4%;
  padding-top: 4%;
}

#title{
  position: relative;
  width: 729px;
  height: 83px;
  font-family: barlow;
  font-size: 50px;
  text-align: left;
}
#title-name{
  color: #eeeeee;
  font-family: barlow;
  font-size: 50px;
  vertical-align: top;
}
#title-logo{
  color: #eeeeee;
  font-size: 90px;
  font-family: nordic;
}
#description{
  color: #eeeeee;
  font-size: 26px;
  font-family: barlow;
  width: 41%;
  text-align: left;

  p{
    padding-top: 4%;
  }
}

.logout-button{
 margin-right: 3%;
}
#signup-button{
  margin-left: 4%;

}
#signup-button-v2{
  margin-left: 2%;
}

#login-button{
  flex-direction: row;
}

.card-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: auto;
}

#card{
  height: 50%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: barlow;

  h2{
   font-size: 43px;
   padding-bottom: 1%;
   padding-top: 2%;
  }
  p{
    width: 60%;
    font-size: 21px;
  }
  #card-logo{
    height: 60%;
    width: 40%;
  }
}

.card-split{
  display: flex;
  background: linear-gradient(to right, #ff5d7c 20%, #ff9678);
  justify-content: space-between;
  align-items: center;
  width: 45%;
  padding: 3% 3% 3%;
  border-radius: 20px;
  
  #section-one{
    display: flex;
    width: 50%;
    padding-right: 2%;
    border-right: solid #41436a;
    padding-top: 6%;
    padding-bottom: 6%;
  }
  #section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
  }
  h2{
    font-weight: normal;
  }
}

.btn-primary{
  color: #333333;
  background-color: #f54768;
  border-color: #f54768;
  text-align: center;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  &:hover {
    background-color: #f54768;
    border-color: #333333;
    color: #333333;
  }
}

.btn-success{
  color: #333333;
  background-color: #f54768;
  border-color: #f54768;
  text-align: center;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  &:hover {
    background-color: #f54768;
    border-color: #333333;
    color: #333333;
  }
}

#signup-button-v3{
  background: linear-gradient(to right, #41436a , #ff5d7c 80%);
  color: #eeeeee;
  width: 45%;
}





#newsletter{
  height: 50px;
}
#newsletter-input{
  height: 24px;
  width: 80%;
  border-style: solid;
  border-color: #1EAFED;
  padding: 10px;
  border-radius: 24px;
}
#newsletter-submit{
  vertical-align: top;
  height: 49px;
  width: 50px;
  border-radius: 30px;
  border-style: none;
  background-color: #1EAFED;
  cursor: pointer;
}
#newsletter-input:invalid {
    box-shadow: none;
}
#newsletter-submit:active{
  background-color: #333333;
}
