<p>
  <strong>Name:</strong>
  <%= @hardware.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hardware.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hardware.price %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @hardware.purpose %>
</p>
